.rainbow {
    font-size: 4rem;
    font-family: "Dancing Script", cursive;
    text-align: center;
    font-weight: bold;
    animation: rainbow 3s infinite;
}

.rainbow2 {
    font-size: 2rem;
    font-family: "Dancing Script", cursive;
    text-align: center;
    font-weight: bold;
    animation: rainbow 5s infinite;
}

@keyframes rainbow {
    0% { color: red; }
    16% { color: orange; }
    33% { color: yellow; }
    50% { color: green; }
    66% { color: blue; }
    83% { color: indigo; }
    100% { color: violet; }
}


body {
    background-color: black !important;
}

img {
    width: 250px; /* Set the size explicitly */
    max-width: 100%; /* Ensures it doesn't overflow on smaller screens */
    height: auto; /* Maintains the aspect ratio */
    display: block;
    margin: 20px auto;
}