.rainbow {
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    animation: rainbow 3s infinite;
}

@keyframes rainbow {
    0% { color: red; }
    16% { color: orange; }
    33% { color: yellow; }
    50% { color: green; }
    66% { color: blue; }
    83% { color: indigo; }
    100% { color: violet; }
}

body {
    background-color: aqua !important;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 80%; /* Adjust the size */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}